html {
    overflow: scroll;
    overflow-x: hidden;
}


::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
.k{
color: rgba(73, 207, 73, 0.959);
    
}